button {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.addButton {
    background-color: green;
}

.deleteButton {
    background-color: red;
}